body {
  background-color: rgb(112, 240, 95)
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(201, 248, 211);
  color: rgb(0, 0, 0);
  margin: auto;
  width: 80%;
  height: 10%;
  display: block;
  position: relative;
  font: 500px;
  font-size: calc (500px + 15vmin);
}

.App-logo {
  display: block;
  width: 250px;
  height: 250px;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.BR{
  background-color: rgba(0, 0, 0, 0.05); 
  flex: 1;
}

.topicos{
  color: brown;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titulo-cabecalho{
  border-width: 3px;
  border: 3px dashed rgb(46, 101, 55);
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nome-descricao, .nome-titulo {
  font-family: 'Brandon Printed Inline';
  font-style: normal;
  margin: 0px;
}

.nome-titulo{
  font-size: 80px;
  margin: 0px;
}

.menu-button {
  background-color: rgb(201, 248, 211);
  color:rgb(0, 0, 0);
  border-width: 2px;
  border-color: rgb(46, 101, 55);
  border-radius: 5px;
}

.menu-button:hover {
  background-color: rgb(101, 136, 109);
}

.menu {
  display: flex;
  flex-direction: column;
}

