.App {
  text-align: center;
  background-color: rgb(112, 240, 95)
}

.App-header {
  background-color: rgb(201, 248, 211);
  color: rgb(0, 0, 0);
  margin: auto;
  width: 80%;
  height: 10%;
  display: block;
  position: relative;
  left: 3px;
  font: 500px;
  font-size: calc (500px + 15vmin);
}

.BR.App{
  background-color: rgb(0, 0, 0); 
}

.topicos{
  color: brown;
}